Repository pauleveritt/hopscotch: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, flake8, reorder-python-imports

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system

        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
      - id: reorder-python-imports
        name: Reorder python imports
        entry: reorder-python-imports
        language: system
        types: [python]
        args: [--application-directories=hopscotch]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/prettier/pre-commit
    rev: 57f39166b5a5a504d6808b87ab98d41ebf095b46
    hooks:
      - id: prettier

Upgrade GHA constraints.
  .github/workflows/constraints.txt
  poetry.lock
  pyproject.toml
Due: check-toml

Upgrade safety package.
  pyproject.toml
Due: check-toml

Try to cache poetry dependencies.
  .github/workflows/tests.yml
Due: check-yaml

Revert speedup.
  .github/workflows/tests.yml
Due: check-yaml

Merge pull request #356
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  TODO.md
  noxfile.py
  poetry.lock
  pyproject.toml
  src/hopscotch/operators.py
  src/hopscotch/registry.py
  tests/test_injection.py
Due: black, check-toml, check-yaml, flake8, reorder-python-imports

Release 0.3.1
  pyproject.toml
Due: check-toml

Release 0.3.1 (#357)
  pyproject.toml
Due: check-toml

WIP
  CONTRIBUTING.md
  noxfile.py
  pyproject.toml
Due: black, check-toml, flake8, reorder-python-imports

add matrix
  pyproject.toml
Due: check-toml

Fix unittest
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Fix unittest
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: black, check-toml, check-yaml, flake8, reorder-python-imports

Remove noxfile.py
  .github/workflows/tests.yml
  noxfile.py
  pyproject.toml
Due: black, check-toml, check-yaml, flake8, reorder-python-imports

Fix package name
  pyproject.toml
Due: check-toml

Fix CI
  .github/workflows/tests.yml
Due: check-yaml

Bump setup-python
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

Add cache for pip
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: check-yaml

Add script cache for pip
  .github/workflows/tests.yml
Due: check-yaml

Change poetry to hatch on release.yml
  .github/workflows/release.yml
  pyproject.toml
  src/hopscotch/version.py
Due: black, check-toml, check-yaml, flake8, reorder-python-imports

Add comment
  src/hopscotch/version.py
Due: black, flake8, reorder-python-imports

Migrate flake8 to ruff
  .darglint
  .flake8
  .pre-commit-config.yaml
  pyproject.toml
  src/hopscotch/operators.py
  src/hopscotch/registry.py
  tests/test_injection.py
  tests/test_operators.py
Due: black, check-toml, check-yaml, flake8, reorder-python-imports

Migrate flake8 to ruff
  pyproject.toml
Due: check-toml

Remove dev release
  .github/workflows/release.yml
Due: check-yaml

Improve hatch envs
  pyproject.toml
Due: check-toml

Remove dev release (#386)
  .github/workflows/release.yml
Due: check-yaml

Remove xdoctest
  .github/workflows/tests.yml
  pyproject.toml
Due: check-toml, check-yaml

Make the injector Python 3.12 friendly.
  pyproject.toml
  src/hopscotch/callers.py
  src/hopscotch/registry.py
  tests/test_injection.py
Due: black, check-toml, flake8, reorder-python-imports

Make the injector Python 3.12 friendly.
  src/hopscotch/callers.py
  src/hopscotch/registry.py
  tests/test_injection.py
Due: black, flake8, reorder-python-imports

Upgrade deps and Python 3.12 friendly. (#393)
  src/hopscotch/callers.py
  src/hopscotch/registry.py
  tests/test_injection.py
Due: black, flake8, reorder-python-imports

Release 0.3.2
  src/hopscotch/version.py
Due: black, flake8, reorder-python-imports

Merge pull request #394
  src/hopscotch/version.py
Due: black, flake8, reorder-python-imports
